html { font: 16px/1.4 Arial, Helvetica, 'sans-serif'; }

body { background: url("../../Images/ps_neutral.png") 0 0; }

.hero { margin: 0 auto 20px; overflow: hidden; padding: 20px; width: 960px; }

.l-container { margin: 0 auto 20px; overflow: hidden; padding: 20px; width: 960px; background-color: white; padding-top: 10px; }

.block-link { background-color: #e4e4e4; display: block; padding: 10px 20px; text-decoration: none; }
.block-link:hover { background-color: #b1b1b1; }

.category { border-right: 1px solid blue; display: inline-block; }

.category.first { border-left: 1px solid blue; }
